.root {
  grid-column: 1 / -1;
  grid-row: 1;

  height: var(--header-height);

  .menu {
    z-index: 10;
    position: fixed;
    overflow: hidden;
    inset: 0;

    display: grid;
    grid-template-rows: calc(var(--header-height) + 2rem) auto 10rem;
  }

  nav {
    grid-column: 1 / -1;
    grid-row: 2;

    ul {
      width: 100%;
      grid-column: 2 / -2;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;

      @media (min-width: 768px) {
        grid-column: 3 / -3;
      }

      .mainLinks,
      .otherLinks {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      li {
        transform: translateY(100%);
        opacity: 0;
        display: flex;
        align-items: center;
      }

      a {
        font-family: "Poppins", sans-serif;
        line-height: 1;
        color: var(--color-white);
        text-decoration: none;
        justify-self: flex-end;
        display: block;
      }

      .menuItem {
        justify-self: flex-end;
        a {
          font-size: 5.2rem;
          font-weight: 700;
        }
      }

      .otherLinks {
        justify-self: flex-end;
        align-items: flex-end;
        a {
          font-size: 2rem;
          font-weight: 700;
          text-align: right;
        }
      }
    }
  }
}
