.root {
  pointer-events: none;
  position: absolute;
  inset: 0;
  overflow: hidden;

  svg {
    height: 100%;
    width: 100%;
  }

  .shapes {
    &:nth-child(1) {
      fill: var(--color-primary);
    }

    &:nth-child(2) {
      fill: var(--color-gray-dark);
    }

    &:nth-child(3) {
      opacity: 0.95;
    }

    &__reverse_shape {
      transform-origin: 50% 50%;
      transform: scale(-1);

      &:nth-child(1) {
        fill: var(--color-gray-dark);
      }

      &:nth-child(2) {
        fill: var(--color-primary);
      }
    }
  }
}
