.root {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 20rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    border: 0;
    z-index: 1050;

    &::backdrop {
      background-image: linear-gradient(
        to right,
        rgba(23, 23, 23, 0.7) 0%,
        rgba(23, 23, 23, 0.7) 60%,
        rgba(255, 35, 69, 0.3) 100%
      );
    }
  }
}
